.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selection{
    display: flex;
    width: 100px;
    flex-direction: row;
    justify-content: center;
}

.title{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.kennel{
    max-height: 750px;
    width: auto;
}

.dog-selector{
    margin-top: 2px;
}

.doggo-button{
    margin-top: 1px;
}